# SPDX-FileCopyrightText: 2025 Chen Linxuan <me@black-desk.cn>
#
# SPDX-License-Identifier: MIT

[submodule ".format"]
	path = .format
	url = https://github.com/black-desk/.format
[submodule "crates/insta"]
	path = crates/insta
	url = https://github.com/black-desk/insta.git
